/*
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --branding-color: #6c63ff;
  --heading-font-family: "Circular Std", sans-serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #f9f7fe;
}
body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 50px;
  line-height: 1.2;
}

h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: rgba(39, 33, 66, 0.7);
}

a {
  text-decoration: none;
  color: var(--branding-color);
}

.logo {
  max-width: 150px;
  max-height: 50px;
}
.logo-text {
  color: black;
  font-size: 18px;
  padding: 0 5px;
}
nav {
  padding: 20px 0;
  margin: 0 40px;
}
nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: rgba(39, 33, 66, 0.7);
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.container-fluid,
.main-slider {
  background: var(--secondary-color);
}
.contact a:link {
  text-decoration: none;
  font-size: 24px;
  color: black;
}
.contact a:hover {
  color: var(--branding-color);
}
.project-description {
  padding: 120px 60px;
}
.call-to-action {
  background: var(--secondary-color);
  border-radius: 20px;
  padding: 50px 120px;
}

.hero {
  background-color: var(--secondary-color);
  padding: 160px 80px;
}

.hero h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  color: #272142;
}
.hero p {
  font-size: 18px;
}

.blob {
  border-radius: 50%;
  width: 60%;
  border: 6px solid var(--branding-color);
}
.header-container {
  padding: 160px 0px;
}

.content {
  margin: 30px;
}
.content h1 {
  font-size: 64px;
  line-height: 85px;
}

.content h3 {
  font-size: 18px;
  font-weight: 700;
}

.content-container h4 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.btn-branding {
  line-height: 27px;
  border-radius: 4px;
  padding: 18px 30px;
  background: var(--branding-color);
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
}

.btn-branding:hover {
  border: 1px solid var(--branding-color);
  background: var(--secondary-color);
  color: var(--branding-color);
}
.btn-branding-outline {
  line-height: 27px;
  border-radius: 4px;
  padding: 18px 30px;
  border: 1px solid var(--branding-color);
  font-size: 18px;
  color: var(--branding-color);
  font-weight: 500;
  text-decoration: none;
}
.btn-branding-outline:hover {
  border: 1px solid var(--secondary-color);
  background: var(--branding-color);
  color: white;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social ul {
  position: relative;
  display: flex;
}
.social ul li {
  position: relative;
  list-style: none;
}

.social ul li a {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
  margin: 0 20px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 50%;
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

.social a:hover {
  color: white;
  background-color: var(--branding-color);
}

@media (max-width: 920px) {
  h1 {
    font-size: 40px;
    line-height: 1.1;
  }
  h2 {
    font-size: 32px;
    margin-top: 20px;
  }
  h3 {
    font-size: 28px;
  }
  .hero p {
    font-size: 18px;
  }
  .hero {
    padding: 70px 20px;
  }
  .project-description {
    padding: 50px 30px;
  }
  .call-to-action {
    padding: 50px 20px;
  }
  .about-section h1 {
    font-size: 30px;
    line-height: 60px;
  }
}
